body{
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}
.title{
  font-size: 30px;
  font-weight: bold;
}
.move-icon{
  height: 50px;
}
.move-button{
  background-color: transparent;
  border: white solid 3px ;
  border-radius: 60px;
  cursor: pointer;
  margin-right: 10px;
  width: 120px;
  height: 120px;
}
.result-style{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}
.score-style{
  margin-top: 50px;
}
.reset-button,
.auto-play-button,
.yes-button,
.no-button{
  background-color: white;
  color: black;
  font-size: 15px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

p{
  font-size: 15px;
  color: white;
}